.header {
    position: fixed;
    background-color: #18191c;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
}

.inviteBtn {
    color: white;
    transition: .45s;
    border-radius: 30px;
    padding: 5px 15px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    border: 2px solid white;
}

.inviteBtn:hover, .inviteBtn:active {
    background-color: white;
    color: #18191c;
}

.topBtn {
    color: #a1a1a1;
    transition: .45s;
    padding: 5px 15px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
}

.title {
    color: white;
    transition: .45s;
    padding: 5px 15px;
    text-align: center;
    font-size: 40px;
    display: inline-block;
}

.topBtn:hover, .topBtn:active, .title:hover, .title:active {
    color: white;
    transform: scale(1.1);
}

.heading {
    background-color: transparent;
    color: #E0E0E0;
    text-align: center;
    font-size: 60px;
}

.text {
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 20px;
}

.search {
    margin-left: 21%;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: gray;
    transition: .45s;
    color: white;
}

.search:focus {
    border-bottom-color: white;
}

.changeBox {
    color: white;
    border-color: transparent;
    padding: 50px;
    background-color: transparent;
    font-size: 20px;
}

.versionTitle {
    color: white;
    text-align: center;
}

.versionInnerBox {
    background-color: #3a3f4b;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    box-shadow: 2px 20px 123px -13px rgba(0, 0, 0, 0.3);
}

.versionOuterBox {
    background-color: #282c34;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-shadow: 2px 20px 123px -13px rgba(0, 0, 0, 0.6);
}

.changeVersionButton {
    background-color: #3a3f4b;
    border-color: transparent;
    width: 50px;
    color: white;
}

.pageNotFound {
    color: gray;
    text-align: center;
    font-size: 18px
}

.categoriesBox {
    background-color: #3a3f4b;
    font-size: 20px;
    padding: 1%;
}

.commandsBox {
    background-color: white;
    margin: 0 0 1% 0;
}

.joinThemesBox {
    background-color: white;
    margin: 0 0 1% 0;
}

.themePicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #36393e;
}

.homeDescription {
    color: white;
    text-align: center;
    font-size: 25px;
}

.dropbutton {
    transition: .30s;
    font-size: 18px;
    background-color: transparent;
    color: #a1a1a1;
    padding: 16px;
    border: none;
}

.dropbutton:hover {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    transition: 1s;
    display: none;
    position: absolute;
    background-color: #18191c;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    transition: .30s;
    color: #a1a1a1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbutton {
    background-color: transparent;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

body {
    font-family: 'Consolas', sans-serif;
    background-color: #18191c;
}

a, a:hover, a:link, a:visited, a:active {
    text-decoration: none;
}

button, button:focus {
    background-color: transparent;
    border-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2a2d30;
}

::-webkit-scrollbar-thumb {
    background: #101013;
}
#goTopBtn {
    transform: scale(0);
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 50px;
    background-color: transparent;
    color: gray;
    cursor: pointer;
    transition: 0.3s;
}

#goTopBtn:hover {
    color: #555;
}