.header {
    position: fixed;
    background-color: #b9b9b9;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
}

.inviteBtn {
    color: #000000;
    transition: .45s;
    border-radius: 30px;
    padding: 5px 15px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    border: 2px solid #000000;
}

.inviteBtn:hover, .inviteBtn:active {
    background-color: #18191c;
    color: white;
}

.topBtn {
    color: #525252;
    transition: .45s;
    padding: 5px 15px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
}

.title {
    color: #000000;
    transition: .45s;
    padding: 5px 15px;
    text-align: center;
    font-size: 40px;
    display: inline-block;
}

.topBtn:hover, .topBtn:active, .title:hover, .title:active {
    color: #000000;
    transform: scale(1.1);
}

.heading {
    background-color: transparent;
    color: #000000;
    text-align: center;
    font-size: 60px;
}

.text {
    text-align: center;
    color: #000000;
    font-size: 20px;
    padding-top: 20px;
}

.search {
    margin-left: 21%;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #838383;
    transition: .45s;
}

.search:focus {
    border-bottom-color: #000000;
}

.changeBox {
    color: #000000;
    border-color: transparent;
    padding: 50px;
    background-color: transparent;
    font-size: 20px;
}

.versionTitle {
    color: #000000;
    text-align: center;
}

.versionInnerBox {
    background-color: #c1c1c1;
    margin: 0 auto;
    width: 80%;
    height: 80%;
}

.versionOuterBox {
    background-color: #a8a8a8;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.changeVersionButton {
    background-color: #ffffff;
    border-color: transparent;
    width: 50px;
    color: #000000;
}

.pageNotFound {
    color: #000000;
    text-align: center;
    font-size: 18px
}

.categoriesBox {
    background-color: #b9b9b9;
    font-size: 20px;
    padding: 1%;
}

.commandsBox {
    background-color: white;
    margin: 0 0 1% 0;
}

.homeDescription {
    color: black;
    text-align: center;
    font-size: 25px;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

body {
    font-family: 'Consolas', sans-serif;
    background-color: white;
}

a, a:hover, a:link, a:visited, a:active {
    text-decoration: none;
}

button, button:focus {
    background-color: transparent;
    border-color: transparent;
}